
@{
    //ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>@ViewBag.Title</h2>

<td>
    @Html.ActionLink("Users", "UserTable") |
    @Html.ActionLink("Tasks", "TaskTable") |
    @Html.ActionLink("Schedule","Schedule")

</td>