
@{
    //ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>@ViewBag.Title</h2>

<td>
    @Html.ActionLink("Users", "UserTable") |
    @Html.ActionLink("Tasks", "TaskList") |
    @Html.ActionLink("Schedule","ScheduleList")

</td>