
@{
    ViewBag.Title = "Admin's index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>@ViewBag.Title</h2>

<td>
    @Html.ActionLink("Users", "UserTable") |
    @Html.ActionLink("Tasks", "TaskList")

</td>